.answer-wapper{
    line-height: 35px;
    display: flex;
    align-items: center;
    width: 500px;
}
.question-number{
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background-color: #e8f2ff;
    color: #35509a;
    margin-right: 8px;
}
.key-answer{
    color: #35509a;
    font-weight: 500;


}
.examinee-answer{
    font-style: italic;
    &.incorrect{
        text-decoration: line-through;
    }
}
.check-answer-icon{
    display: flex;
    align-items: center;
}